<h3> Plots </h3>

<% @plots.each do |plot| %>
  <div id="id-<%= plot.id %>">
  Plot # <%= plot.number %> <br>
  <% plot.plants.each do |plant| %>
    Plant: <%= plant.name %>
    <%= link_to "Remove #{plant.name}", "/plots", method: :delete %><br>
  <% end %>
  </div>
<% end %>
